body {
  background-color: black;
  color: white;
  display: flex;
  font-family: 'Georgia', sans-serif;
  justify-content: space-between;
  padding: 2rem;
  position: relative;
}

#paddle-game {
  border: 2px solid #ffae00;
}