body {
  background-color: #884747;
  color: white;
  display: flex;
  font-family: 'Georgia', sans-serif;
  font-size: large;
  justify-content: space-between;
  padding: 2rem;
  position: relative;
}

.links h2 {
  text-align: center;
}

#paddle-game {
  border: 2px solid #ffae00;
}

@media (max-width: 600px) {
  body {
    display: block;
    text-align: center;
  }

  .links svg {
    display: block;
    margin: 0 auto;
  }

  #paddle-game {
    display: none;
  }
}